/**
 * Place node
 *
*/

.placeNode {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Makes it circular */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6366f1;
  border: 2px solid #4f46e5;
  margin: 10px;
}

div.placeNodeLabel{
  color: #000;
}

div.placeHandle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
  border: none;
  opacity: 0;
}


/**
 * Transition Node
 *
*/

.transitionNode {
  width: 50px;
  height: 150px;
  display: flex;
  background: #FF0000;
  border: 2px solid #DD0000;
  margin: 10px;

}

div.transitionHandle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
  border-radius: 0;
  opacity: 0;
  border: 0;

}


/**
 * from https://reactflow.dev/examples/nodes/easy-connect
 *
*/

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.topLevel {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.topLevel .wrapper {
  flex-grow: 1;
  height: 100%;
}


@media screen and (min-width: 768px) {
  .topLevel {
    flex-direction: row;
  }

  .topLevel aside {
    width: 20%;
    max-width: 250px;
  }
}
